<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a new post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <form method="post" action="/postadd">

      <input type="text" name="title" style="width: 18.8rem;">
      <label for="title">Título</label>
      <br>
      <textarea rows="30" cols="40" name="content"></textarea>
      <label for="content">Contenido</label>
      <br>
      <input type="submit" value="Enviar">
    </form>
  
  </body>
</html>
