<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Muestra un post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <table border="true" style="margin: 0 auto;">
      <tr><th colspan="2"><?= $this->post->title ?></th></tr>
      <tr><td colspan="2"><?= $this->post->content ?></td></tr>
      <tr>
        <td style="text-align: center;"><a href="/postedit/<?= $this->post->post_id ?>">Edit</a></td>
        <td style="text-align: center;"><a href="/postdelete/<?= $this->post->post_id ?>">Delete</a></td>
      </tr>
      <tr><th colspan="2">Comentarios</th></tr>
      <?= $this->showComments() ?>
      <tr>
        <form action="/commentadd" method="post">
          <input type="hidden" name="post_id" value="<?= $this->post->post_id ?>">
          <td><input type="text" name="content"></td>
          <td><input type="submit" value="send" style="width: 100%;"></td>
        </form>
      </tr>
    </table>

    <h3><a href="/posts">👈</a></h3>
  
  </body>
</html>
